.header {
    margin-top: 10px;
}

.radio-group{
    margin-top: 10px;
}

#rdcomptable{
    margin-left: 10px;
}

.d-none{
    visibility: hidden;
}

.form-visit{
    margin-right: 5%;
}

.orange {
    color: #fff;
    background-color: #ff8800!important;
    border-color: #ff8800 !important;
}

.texteorange{
    color: #ff8800!important;
    background-color: #fff;
}

.backgroundbouton{
    background-color: #fff!important;
}

.borderorange{
    border-color:#ff8800!important;
}

.nav-pills > li.active > .activeorange{
    background-color:#ff8800!important;
    color:#fff!important;
}

.btnorange{
    background-color: #ff8800!important;
    color: #fff!important;
    border-color: #000!important;
}

.btnorange:hover{
    background-color: #ff8800;
    color:#fff;
}

.btnsuivreorange{
    background: #ff8800!important;
    border-color: #ff8800!important;
    color:#fff;
}